<div class="primary banner">  
    <div class="swiper-container" data-time="10000" data-loop="true">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <a href="http://www.wtamu.edu/about/wt125.aspx" class="grid-x">
                    <div class="cell medium-6 large-8 relative">
                        <img class="overlay show-for-medium" alt="image" src="{{root}}assets/img/left-triangle.png"/>
                        <img class="overlay hide-for-medium" alt="image" src="{{root}}assets/img/up-triangle.png"/>
                        <img alt="image" src="{{root}}assets/img/4x2m.png" data-src="{{root}}assets/img/250_WT125-Banner.jpg" class="swiper-lazy"/>
                    </div>
                    <div class="cell medium-6 large-4">
                        <h2>Strategic Plan</h2>
                    </div>
                </a>
            </div> 
            <div class="swiper-slide">
                <a href="http://www.wtamu.edu/about/wt125.aspx" class="grid-x">
                    <div class="cell medium-6 large-8 relative">
                        <img class="overlay show-for-medium" alt="image" src="{{root}}assets/img/left-triangle.png"/>
                        <img class="overlay hide-for-medium" alt="image" src="{{root}}assets/img/up-triangle.png"/>
                        <img alt="image" src="{{root}}assets/img/4x2m.png" data-src="{{root}}assets/img/250_250_Admissions-Web-Banner.jpg" class="swiper-lazy"/>
                    </div>
                    <div class="cell medium-6 large-4">
                        <h2>Become a Buff</h2>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.wtamu.edu/about/wt125.aspx" class="grid-x">
                    <div class="cell medium-6 large-8 relative">
                        <img class="overlay show-for-medium" alt="image" src="{{root}}assets/img/left-triangle.png"/>
                        <img class="overlay hide-for-medium" alt="image" src="{{root}}assets/img/up-triangle.png"/>
                        <img alt="image" src="{{root}}assets/img/4x2m.png" data-src="{{root}}assets/img/250_250_Major-Program-web-banners.jpg" class="swiper-lazy"/>
                    </div>
                    <div class="cell medium-6 large-4">
                        <h2>Majors and Programs</h2>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.wtamu.edu/about/wt125.aspx" class="grid-x">
                    <div class="cell medium-6 large-8 relative">
                        <img class="overlay show-for-medium" alt="image" src="{{root}}assets/img/left-triangle.png"/>
                        <img class="overlay hide-for-medium" alt="image" src="{{root}}assets/img/up-triangle.png"/>
                        <img alt="image" src="{{root}}assets/img/4x2m.png" data-src="{{root}}assets/img/250_250_Scholarships-Web-Banner.jpg" class="swiper-lazy"/>
                    </div>
                    <div class="cell medium-6 large-4">
                        <h2>Scholarships</h2>
                    </div>
                </a>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>
