<div class="primary banner" role="banner">  
    <div class="swiper-container" data-time="10000" data-loop="true">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <a href="//wtamu.edu/about/wt-125-from-the-panhandle-to-the-world.aspx" class="grid-x">
                    <div class="cell medium-6 large-8 relative">
                        <img class="overlay show-for-medium" alt="image" src="{{root}}assets/img/left-triangle.png"/>
                        <img class="overlay hide-for-medium" alt="image" src="{{root}}assets/img/up-triangle.png"/>
                        <img alt="image" src="{{root}}assets/img/4x2m.png" data-src="{{root}}assets/img/wt125.jpg" class="swiper-lazy"/>
                    </div>
                    <div class="cell medium-6 large-4">
                        <h2>Strategic Plan</h2>
                    </div>
                </a>
            </div> 
            <div class="swiper-slide">
                <a href="//wtamu.edu/admissions/default.aspx" class="grid-x">
                    <div class="cell medium-6 large-8 relative">
                        <img class="overlay show-for-medium" alt="image" src="{{root}}assets/img/left-triangle.png"/>
                        <img class="overlay hide-for-medium" alt="image" src="{{root}}assets/img/up-triangle.png"/>
                        <img alt="image" src="{{root}}assets/img/4x2m.png" data-src="{{root}}assets/img/recruit.jpg" class="swiper-lazy"/>
                    </div>
                    <div class="cell medium-6 large-4">
                        <h2>Become a Buff</h2>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="//wtamu.edu/advising/list-of-degree-programs-by-college-and-department.aspx" class="grid-x">
                    <div class="cell medium-6 large-8 relative">
                        <img class="overlay show-for-medium" alt="image" src="{{root}}assets/img/left-triangle.png"/>
                        <img class="overlay hide-for-medium" alt="image" src="{{root}}assets/img/up-triangle.png"/>
                        <img alt="image" src="{{root}}assets/img/4x2m.png" data-src="{{root}}assets/img/oldmain.jpg" class="swiper-lazy"/>
                    </div>
                    <div class="cell medium-6 large-4">
                        <h2>Majors and Programs</h2>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="//wtamu.edu/scholarships-list-of.aspx" class="grid-x">
                    <div class="cell medium-6 large-8 relative">
                        <img class="overlay show-for-medium" alt="image" src="{{root}}assets/img/left-triangle.png"/>
                        <img class="overlay hide-for-medium" alt="image" src="{{root}}assets/img/up-triangle.png"/>
                        <img alt="image" src="{{root}}assets/img/4x2m.png" data-src="{{root}}assets/img/scholarship.jpg" class="swiper-lazy"/>
                    </div>
                    <div class="cell medium-6 large-4">
                        <h2>Scholarships</h2>
                    </div>
                </a>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>
