<div class="grid-x grid-margin-x primary padding footer">
    <div class="centered cell grid-x">
        <div class="medium-4 logo cell small-text-center">
            <a href="https://www.tamus.edu/"> 
                <img alt="The Texas A&amp;M System" class="lazy1" data-src="{{root}}/assets/img/membertamus.png" src="{{root}}/assets/img/membertamus.png" style="max-width: 160px"> 
            </a>
        </div>
        <div class="reg medium-8 cell">
            <a href="//wtamu.edu/about/web-accessibility.aspx">Accessibility</a> - 
            <a href="//wtamu.edu/home/accreditation.aspx">Accreditation</a> - 
            <a href="//wtamu.edu/administration/11-consumer-information.aspx">Consumer Information</a>
            <a href="https://www.wtamu.edu/student-support/counseling-services.aspx">Counseling Services/Mental Health Services (HB 2895)</a><br />
            <a href="//wtamu.edu/about/emergency-information.aspx">Emergency Information</a> - 
            <a href="//wtamu.edu/webres/File/Administrative/EnergyManagementReport.pdf" rel="noopener noreferrer" target="_blank">Energy Management Report</a>
            <a href="//wtamu.edu/ferpa">Family Educational Rights and Privacy Act (FERPA)</a><br> 
            <a href="//wtamu.edu/home/link-policy-and-privacy-statement.aspx#forms">Form Policy</a> - 
            <a href="//wtamu.edu/about/house-bill-2504-requirements.aspx">House Bill 2504</a> - 
            <a href="https://www.tamus.edu/business/budgets-and-accounting/legislative-appropriations-requests/" rel="noopener noreferrer" target="_blank">Legislative Appropriation Request</a><br> 
            <a href="http://gov.texas.gov/" rel="noopener noreferrer" target="_blank">Texas Homeland Security</a> - 
            <a href="//wtamu.edu/webres/File/Administrative/university_org_chart.pdf" rel="noopener noreferrer" target="_blank">University Organizational Chart</a>
            <br /><br />
            <p>
                <a class="button" style="border: thin solid #fff; padding: .5rem" href="//wtamu.edu/about/contact-us.aspx">Contact Us</a>
                <a class="geturl button" style="border: thin solid #fff; padding: .5rem" href="./feedback.html?url=http://cascadetest.wtamu.edu/test/WTAMU/">Website Feedback</a>                
            </p>
        </div>
    </div>
</div>
<div class="grid-x grid-margin-x">
    <div class="medium-10 centered cell grid-x">
        <div class="medium-10 centered cell text-center columns smaller">
            <div>
                <a href="http://www.state.tx.us/" rel="noopener noreferrer" target="_blank">State of Texas</a> - 
                <a href="http://veterans.portal.texas.gov" rel="noopener noreferrer" target="_blank">Texas Veterans Portal</a> - 
                <a href="https://secure.ethicspoint.com/domain/en/report_custom.asp?clientid=19681" rel="noopener noreferrer" target="_blank">Risk, Fraud and Misconduct Hotline</a> - 
                <a href="https://www.tsl.state.tx.us/search/node/" rel="noopener noreferrer" target="_blank">Statewide Search</a> - 
                <a href="//wtamu.edu/home/link-policy-and-privacy-statement.aspx">Link Policy and Privacy Statement</a> - <a href="//wtamu.edu/about/open-records.aspx">Open Records/Public Information Act</a> - 
                <a href="http://www.wtamu.edu/about/equal-opportunity-nondiscrimination.aspx">Equal Opportunity/Nondiscrimination </a> - 
                <a href="http://www.txhighereddata.org/approot/resumes/ir_launch.htm" rel="noopener noreferrer" target="_blank">Online Institutional Resumes</a> - 
                <a href="http://www.thecb.state.tx.us/apps/txcrews/" rel="noopener noreferrer" target="_blank">Texas Consumer Resource for Education and Workforce Statistics (Texas CREWS) </a>
            </div>
        </div>
    </div>
</div>
<div class="grid-x grid-margin-x">
    <div class="medium-10 centered cell grid-x">
        <div class="medium-10 centered cell text-center columns smaller">
            <br />
            © West Texas A&amp;M University | All rights Reserved | <a href="http://maps.google.com/maps?daddr=35.0902961,-101.7510337">2501 4th Avenue Canyon TX 79015</a> | <a href="tel:806-290-0000">806-290-0000</a> | Last updated: <a href="//cascadetest.wtamu.edu/entity/open.act?type=page&amp;id=316742eeac10157e36fbc2d9b482f175#highlight">01/12/2018</a>
        </div>
    </div>
</div>