<div class="grid-x grid-margin-x primary padding footer">
    <div class="centered cell grid-x">
        <div class="medium-4 logo cell small-text-center">
            <a href="http://www.tamus.edu">
                <img style="width: auto" alt="The Texas A&M System" src="{{root}}assets/img/3x2m.png" data-src="//www.wtamu.edu/images/MemberTAMUS.png" class="lazy">
            </a>
        </div>
        <div class="reg medium-8 cell">                                  
            <a href="//wtamu.edu/about/web-accessibility.aspx">Accessibility</a> -
            <a href="//wtamu.edu/home/accreditation.aspx">Accreditation</a> -
            <a href="//wtamu.edu/administration/11-consumer-information.aspx">Consumer Information</a><br /> 
            <a href="//wtamu.edu/about/contact-us.aspx">Contact Us</a> -
            <a href="https://www.wtamu.edu/student-support/counseling-services.aspx">Counseling Services/Mental Health Services (HB 2895)</a> -
            <a href="//wtamu.edu/about/emergency-information.aspx">Emergency Information</a> -
            <a href="//wtamu.edu/webres/File/Administrative/EnergyManagementReport.pdf" target="_blank">Energy Management Report</a><br /> 
            <a href="//wtamu.edu/ferpa">Family Educational Rights and Privacy Act (FERPA)</a><br /> 
            <a href="//wtamu.edu/home/link-policy-and-privacy-statement.aspx#forms">Form Policy</a> -
            <a href="//wtamu.edu/about/house-bill-2504-requirements.aspx">House Bill 2504</a> -
            <a href="https://www.tamus.edu/business/budgets-and-accounting/legislative-appropriations-requests/" target="_blank">Legislative Appropriation Request</a><br /> 
            <a href="http://gov.texas.gov/" target="_blank">Texas Homeland Security</a> -
            <a href="//wtamu.edu/webres/File/Administrative/university_org_chart.pdf" target="_blank">University Organizational Chart</a> -
            <a href="{{root}}/feedback.html" target="_blank">Website Feedback</a>
            <br /> 
        </div>  
    </div>  
</div>
<div class="grid-x grid-margin-x color-secondary">
    <div class="medium-10 centered cell grid-x">
        <div class="medium-10 centered cell text-center columns small">
            <div>
                <a target="_blank" href="http://www.state.tx.us/">State of Texas</a> - 
                <a target="_blank" href="http://veterans.portal.texas.gov">Texas Veterans Portal</a> -
                <a target="_blank" href="https://secure.ethicspoint.com/domain/en/report_custom.asp?clientid=19681">Risk, Fraud and Misconduct Hotline</a> - 
                <a target="_blank" href="https://www.tsl.state.tx.us/search/node/">Statewide Search</a> - 
                <a href="//wtamu.edu/home/link-policy-and-privacy-statement.aspx">Link Policy and Privacy Statement</a> -
                <a href="//wtamu.edu/about/open-records.aspx">Open Records/Public Information Act</a> - 
                <a href="http://www.wtamu.edu/about/equal-opportunity-nondiscrimination.aspx">Equal Opportunity/Nondiscrimination </a> - 
                <a target="_blank" href="http://www.txhighereddata.org/approot/resumes/ir_launch.htm">Online Institutional Resumes</a> - 
                <a target="_blank" href="http://www.thecb.state.tx.us/apps/txcrews/">Texas Consumer Resource for Education and Workforce Statistics (Texas CREWS) </a>
            </div>
            <br /> 
            <i class="fa fa-copyright"></i> West Texas A&amp;M University | 
            All rights Reserved | 
            <a href="http://maps.google.com/maps?daddr=34.979965, -101.915826">2501 4th Avenue Canyon TX 79015</a> | 
            <a href="tel:806-290-0000">806-290-0000</a>                     
        </div>
    </div>
</div>