<div class="primary grid-x grid-margin-x padding footer" role="contentinfo" aria-label="regulatory information" style="padding-bottom: .5rem">
    <div class="centered cell grid-x grid-margin-x">        
        <div class="medium-4 logo cell centered">
            <div class="cell small-text-center">
                <a href="https://www.tamus.edu/"> 
                    <img alt="The Texas A&amp;M System" class="lazy" data-src="{{root}}/assets/img/base/membertamus.png" src="{{root}}/assets/img/base/3x2m.png" style="max-width: 140px"> 
                </a>                
            </div>            
        </div>        
        <div class="reg medium-8 cell smaller" style="color: #fefefe">
            <a href="{{root}}/policy.html">Site Policies</a> | <a href="//wtamu.edu/about/web-accessibility.aspx">Accessibility</a><br /> 
            <a href="https://www.wtamu.edu/student-support/counseling-services.aspx">Counseling Services/Mental Health Services (HB 2895)</a><br />
            <a href="https://secure.ethicspoint.com/domain/en/report_custom.asp?clientid=19681" rel="noopener noreferrer" target="_blank">Risk, Fraud and Misconduct Hotline</a><br />
            <a href="/safety">Safety and Security</a> | <a href="//wtamu.edu/home/link-policy-and-privacy-statement.aspx#forms">Form Policy</a><br />             
            <br />  
            <a class="button" style="border: thin solid #fff; padding: .5rem" href="//wtamu.edu/about/contact-us.aspx">Contact Us</a>
            <a class="geturl button" style="border: thin solid #fff; padding: .5rem" href="./feedback.html?url=http://cascadetest.wtamu.edu/test/WTAMU/">Website Feedback</a>              
        </div> 
    </div>
</div> 
<div class="grid-x grid-margin-x footer primary" role="contentinfo" aria-label="contact information for wtamu">
    <div class="centered cell grid-x grid-margin-x">   
        <div class="medium-10 centered cell text-center smaller" style="color: #fefefe">
            <a href="https://www.tamus.edu/"><span class="wtamu"> &copy; West Texas A&amp;M University</span> | All rights Reserved</a> | 
            <a href="http://maps.google.com/maps?daddr=35.0902961,-101.7510337">2501 4th Avenue Canyon TX 79015</a> | 
            <a href="tel:806-290-0000">806-290-0000</a> | 
            <a href="//cascadetest.wtamu.edu/entity/open.act?type=page&amp;id=316742eeac10157e36fbc2d9b482f175#highlight">Last updated: 01/12/2018</a>
        </div>
    </div>
</div>
<script>
//Google Maps Integration Code------------
    function initMap() {
        
        $('.map').each(function (index, Element) {
            var location = $(Element).attr("data-location").split(",");
            var zoom = $(Element).attr("data-zoom");
            var name = $(Element).attr("data-name");

            if (location.length != 2) {
                $(this).display = "none";
                return;
            }

            if (!zoom) {
                zoom = 17;
            }

            if (!name) {
                name = " ";
            }

            var latlng = new google.maps.LatLng(parseFloat(location[0]), parseFloat(location[1]));
            var myOptions = {
                zoom: parseFloat(zoom),
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: false,
                mapTypeControl: true,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL
                }
            };
            var map = new google.maps.Map(Element, myOptions);

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                animation: google.maps.Animation.DROP,
                label: {
                    color: '#000',
                    fontWeight: 'bold',
                    text: name,
                }
            });

            // setTimeout(function(){            
            //     google.maps.event.addListener(this.map, 'tilesloaded', function() {
            //         var images = document.querySelectorAll('map img');
            //         images.forEach(function(image) {
            //             image.alt = "Google Maps Image";
            //         });
            //     });
            // }, 2000);
        });        
    }
</script>