<div role="navigation" aria-label="Main navigation">
  <!--<div class="grid-x primary" data-sticky data-margin-top="0" data-options="stickTo:top; stickyOn:small;">-->
  <div class="grid-x primary">
    <div class="centered cell">
      <div class="top-bar show-for-large-up" style="position: relative; padding: 0;">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="show-for-large" >
              <!--<a href="{{root}}" style="padding: 0"> 
                <div style="padding-left: 33px; background-image: url({{root}}assets/img/base/wt-transparent.png); background-repeat: no-repeat; background-size: 33px; background-position-x: 0; background-position-y: -2px">
                  <span style="font-family: Georgia; font-size: 1.35rem; text-transform: uppercase;">West Texas A&amp;<span style="font-size: 1.2rem;display: none">&amp;</span>M
                  </span><br />
                  <span style="font-family: Georgia; font-size: 1rem; letter-spacing: .57rem; margin-left: .3rem;" class="wtamu">University</span>
                </div>                
              </a>-->              
            </li>            
            <li class="hide-for-large">
              <a href="#" data-toggle="offCanvasLeft" aria-label="Menu">
                <span class="fa fa-navicon"><span class="hide">Menu</span></span>
              </a>
            </li>
          </ul>
        </div> 
        <div class="logo-wrapper">
          <div class="logo">
            <a href="{{root}}">
              <img alt="West Texas A&amp;M University" src="{{root}}assets/img/base/crest-trans.png"/>
            </a>
          </div>
        </div>       
        <div class="top-bar-right">          
          <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">
            <li style="display: none; background-color: green">
              <a href="/report.html" aria-label="run development report" class="report" target="_blank">
                <span aria-hidden="true" class="fa fa-universal-access">
                  <span class="hide">Report</span>
                </span>
              </a>
            </li>
            <li class="show-for-large">
              <a href="#" aria-label="Translate" target="_blank">
                <span aria-hidden="true" class="fa fa-language">
                  <span class="hide">Translate</span>
                </span>
              </a>
              <ul class="menu vertical">
                {{> translate}}
              </ul>
            </li>
            <li class="show-for-large">
              <a href="#">Audience</a>
              <ul class="menu vertical">
                {{> subnav}} 
              </ul>
            </li>
            <li class="show-for-large">
              <a href="#" aria-label="Maps Menu"><span aria-hidden="true" class="fa fa-map"><span class="hide">Maps Menu</span></span></a>
              <ul class="menu vertical">
                <li>
                  <a href="//bufftransit.wtamu.edu/" target="_blank">
                    <span aria-hidden="true" class="fa fa-bus"></span> Buff Transit
                  </a>
                </li>
                <li>
                  <a href="//map.wtamu.edu/map/?id=458#!ct/4072,18322?ce/4072" target="_blank">
                    <span aria-hidden="true" class="fa fa-map-pin"></span> Campus Map
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{root}}a-z.html" class="show-for-large">
                <span aria-hidden="true" class="fa fa-sitemap"></span> A-Z
              </a>   
            </li>
            <li>
              <a href="//wtamu.edu/search/" aria-label="search">
                <span aria-hidden="true" class="fa fa-search">
                  <span class="hide">Search</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> 
  <div class="default grid-x grid-margin-x white show-for-large" style="border-bottom: solid 1px #581818">
    <div class="centered cell">
      <div class="top-bar" style="padding: 0px; font-stretch: condensed; font-size: 1.1rem">
        <div class="top-bar-left" style="margin-left: 140px">
          <ul class="menu">
            {{> mainnavleft}}
          </ul>
        </div>    
        <div class="top-bar-right">
          <ul class="menu">
            {{> mainnavright}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 