<div>
  <!--<div class="grid-x primary" data-sticky data-margin-top="0" data-options="stickTo:top; stickyOn:small;">-->
  <div class="grid-x primary">
    <div class="centered cell">
      <div class="top-bar show-for-large-up">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="show-for-large"><a href="{{root}}"><h1>West Texas A&amp;M University</h1></a></li>
            <li class="hide-for-large">
              <button type="button" class="button" aria-label="navigation menu" data-toggle="offCanvasLeft">
                <i aria-hidden="true" class="fa fa-navicon"></i>
              </button>
            </li>
          </ul>
        </div> 
        <div class="logo-wrapper">
          <div class="logo large">
            <a href="{{root}}">
              <img alt="West Texas A&amp;M University" src="{{root}}assets/img/WT.png"/>
            </a>
          </div>
        </div>       
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">
            <li class="show-for-large">
              <a href="#" aria-label="Audience Menu">Go To</a>
              <ul class="menu vertical">
                {{> subnav}} 
              </ul>
            </li>
            <li class="show-for-large">
              <a href="#" aria-label="Maps Menu"><i aria-hidden="true" class="fa fa-map"></i></a>
              <ul class="menu vertical">
                <li>
                  <a href="//bufftransit.wtamu.edu/" target="_blank">
                    <i aria-hidden="true" class="fa fa-bus"></i> Buff Transit
                  </a>
                </li>
                <li>
                  <a href="//map.wtamu.edu/map/?id=458#!ct/4072,18322?ce/4072" target="_blank">
                    <i aria-hidden class="fa fa-map-pin"></i> Campus Map
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{root}}a-z.html" class="show-for-large">
                <i aria-hidden="true" class="fa fa-sitemap"></i> A-Z
              </a>   
            </li>
            <li><a href="//wtamu.edu/search/" aria-label="Search"><i aria-hidden="true" class="fa fa-search"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> 
  <div class="default grid-x grid-margin-x white show-for-large" style="border-bottom: solid 1px #581818">
    <div class="centered cell">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            {{> mainnavleft}}
          </ul>
        </div>        
        <div class="top-bar-right">
          <ul class="menu">
            {{> mainnavright}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 