<li>
    <a href="http://www.wtamu.edu/home/future-students.aspx">Future Students</a>
</li>
<li>
    <a href="http://www.wtamu.edu/home/current-students.aspx">Current Students</a>
</li>
<li>
    <a href="http://www.wtamu.edu/home/faculty-staff.aspx">Faculty &amp; Staff</a>
</li>
<li>
    <a href="http://www.buffalum.com/">Alumni &amp; Friends</a>
</li>
<li>
    <a href="http://www.wtamu.edu/home/visitors.aspx">Parents &amp; Family</a>
</li>
<li>
    <a href="http://www.wtamu.edu/home/visitors.aspx">Visitors</a>
</li>