<div class="grid-x grid-margin-x" id="app">
    <div class="centered grid-x grid-margin-x cell">
        <div class="grid-x large-8 cell">
            <ul class="breadcrumbs small-12">
                <li><a href="./">WTAMU</a></li>
                <li class="unavailable">Search</li>
                <li class="unavailable">Equine Case Search</li>
            </ul>

            <h1>Equine Case Search</h1>   
            <div class="cell" ng-app="searchApp">
                <div ng-controller="search">
                    <form ng-submit="submit()">         
                        <div class=" cell input-group">
                            <input type="text" ng-model="search" placeholder="Search" title="Search Box" ng-model-options="{debounce: 500}"/>
                            <div class="input-group-button">
                                <input type="submit" class="button primary" value="Submit">
                            </div>
                        </div>
                    </form>               
                    
                    <div class="fade cell grid-x" ng-repeat="data in dataset | filter:search track by $index">
                        <div class="auto cell">
                            <a href="{[{data.path}]}">
                                <h2><small>{[{data.title}]}</small></h2>
                            </a>                             
                            <span ng-repeat="metadata in data['dynamic-metadata'] track by $index"><strong>{[{metadata.value}]}</strong><br /></span>                        
                            <p>{[{data.teaser}]}</p>
                            <p>{[{data.summary}]}</p>                     
                        </div> 
                    </div>     
                    <p ng-show="(data|filter:search).length > 0">No Records Match!</p>
                </div>
            </div>
        </div>
        <div class="large-4 show-for-large cell">   
            <div class="secondary">          
                <ul class="mobile-ofc vertical menu">
                    <li>
                        <a href="./index.html">Site Search</a>
                    </li>
                    <li>
                        <a href="./directory.html">Directory Search</a>
                    </li>
                    <li>
                        <a href="./experts.html">Experts Search</a>
                    </li>  
                    <li>
                        <a href="./equine.html">Equine Law</a>
                    </li>                    
                </ul>   
            </div>                 
        </div> 
    </div>    
<style>
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js"></script>
<script type="text/javascript"> 

    //start Angular            

    var App = angular.module('searchApp', ['ngAnimate']).config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    App.controller('search', function($scope, $http) {
        $http.get('http://cascadeweb01.wtamu.edu/responsive-web/academics/pecans/law-cases-for-horsemen/index.json')
        .then(function(res) {
            $scope.dataset = [];
            $scope.dataset = res.data['system-page'];   
            (window.angular);        
        });       
        
    });    
            
</script>