<div class="grid-x grid-margin-x" ng-app="WtDirectory" id="app">
    <div class="centered grid-x grid-margin-x cell">
        <div class="grid-x large-8 cell">

            <ul class="breadcrumbs small-12">
                <li><a href="./">WTAMU</a></li>
                <li class="unavailable">Search</li>
                <li class="unavailable">Experts</li>
            </ul>

            <h1 class="cell">Experts Search</h1>             

            <div class="cell" ng-controller="expertSearch">
                <p class="small clickHide"><small>Select an Expertise</small></p>
                <a href="./" class="small clickShow button primary" style="display: none">Reset Search</a>
                <select name="repeatSelect" id="repeatSelect" ng-model="search.expertgroup.expertise" class="cell clickHide" title="Type of Expert>
                    <option value="" selected>Select Expertise</option>
                    <option ng-repeat="option in data" value="{[{option.expertise}]}">{[{option.expertise}]}</option>
                </select>        
                
                <div class="grid-x medium-up-2 grid-margin-x grid-margin-y" style="border: thin solid #d2d2d2; margin-bottom: 1rem">    

                    <div class="animation cell grid-x" ng-repeat="person in people | filter:search track by $index">
                        <div class="small-8 cell">
                            <h2 class="smaller">{[{person.fname}]} {[{person.lname}]}, {[{person.designation}]} </h2>
                            <div class="caption small-12 medium-12 large-6" style="float: left">
                                <div><strong>Title:</strong><span ng-repeat="position in person.posgroup"> {[{position.title}]}<br /></span></div>
                                <div><strong>Location:</strong> {[{person.building}]} {[{person.room}]}</div>
                                <p class="hide">{[{person.expertise}]}</p>
                                <a href="tel:{{person.phone}}">{[{person.phone}]}</a><br />
                                <a href="mailto:{{person.email}}">{[{person.email}]}</a><br />
                                <p class="smaller">select a specialization</p>
                                <div ng-hide="!expertise.expertise" ng-click="change_expertise(expertise.expertise)" ng-repeat="expertise in person.expertgroup" style="margin-right: 2px; margin-bottom: 2px" class="button primary small">{[{expertise.expertise}]}</div>
                            </div>
                        </div>              
                
                        <div class="small-4 cell">
                            <div class="small-8 small-centered primary">
                                <!--<img src="http://cascadeweb01.wtamu.edu/responsive-web/{[{person.image}]}" alt="professor {[{person.fname}]} {[{person.lname}]}" />-->
                                <img src="{{root}}/assets/img/base/buffalo.png" alt="professor {[{person.fname}]} {[{person.lname}]}" />
                            </div>
                        </div>
                        <div class="text-right" ng-hide="true">
                            <a href="#" class="button small-12 large-6">View Biography</a>
                        </div>
                    </div>
                </div>                     
            </div>
        </div>
        <div class="large-4 show-for-large cell">   
            <div class="secondary">            
                <ul class="mobile-ofc vertical menu">
                    <li>
                        <a href="./index.html">Site Search</a>
                    </li>
                    <li>
                        <a href="./directory.html">Directory Search</a>
                    </li>
                    <li>
                        <a href="./experts.html">Experts Search</a>
                    </li>  
                    <li>
                        <a href="./equine.html">Equine Case Search</a>
                    </li>                    
                </ul>  
            </div>                 
        </div>  
    </div>
    
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js"></script>
<script src="{{root}}assets/x2js-master/xml2json.min.js"></script>
<script type="text/javascript"> 

    //start Angular            

    var App = angular.module('WtDirectory', ['ngAnimate']).config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    App.controller('expertSearch', function($scope, $http) {
        $http.get('{{root}}assets/experts.js')
        .then(function(res) {
            $scope.people = res.data;         
            (window.angular);        
        });

        $http.get('{{root}}assets/expertise.js')
        .then(function(res) {
            $scope.data = res.data;            
            (window.angular);        
        });

        $scope.change_expertise=function(expertisepassedfrombutton){
            $scope.search = expertisepassedfrombutton;
            $('.clickHide').hide();
            $('.clickShow').show();
        }
        
    });    
            
</script>