<div class="" ng-app="WtDirectory" id="app">
  	<div class="fade grid-x grid-margin-x padding">
    	<div class="centered cell">
      		<h1>Search</h1> 

      		<ul class="tabs" data-tabs data-deep-link="true" id="example-tabs">
			  	<li class="tabs-title is-active"><a data-tabs-target="google" href="#google" aria-selected="true">Google</a></li>
			  	<li class="tabs-title"><a data-tabs-target="directory" href="#directory">Directory</a></li>
			  	<li class="tabs-title"><a data-tabs-target="experts" href="#experts">Experts</a></li>
			</ul>

	      	<div class="tabs-content" data-tabs-content="example-tabs">

	  			<div class="tabs-panel is-active" id="google">
	    			<form action="./" id="searchWeb" method="get">
                        <div class="search-field">
                            <div class="input-group">
                                <input id="search_text_box" name="q" placeholder="Search WT" type="search" title="Google Search Box">
                                <div class="input-group-button">
                                    <input type="submit" class="button primary" value="Submit">
                                </div>
                            </div>
                        </div>
                        <div class="gcse-searchresults-only" data-linktarget="_parent">&#160;</div>
                    </form>                                        
	  			</div>
	  			
		  		<div class="tabs-panel" id="directory" ng-controller="directorySearch">
		  		    <div>
	    		        <input type="radio" ng-model="type" value="staff" name="staff" id="staff"/><label for="staff" title="Select Faculty/Staff">Faculty Staff</label>
                        <input type="radio" ng-model="type" value="student" name="student" id="student"/><label for="student" title="Select Students">Students</label>
		    		</div>
		    		    
		    		<form id="directory_search" ng-submit="submit()">		  
	    		        <div class="input-group">
                            <input type="text" ng-model="search" placeholder="Search" id="Search_Directory" title="Search Box"/>
                            <div class="input-group-button">
                                <input type="submit" class="button primary" value="Submit">
                            </div>
                        </div>
	    		    </form>	 		
		    		<div class="grid-x medium-up-2 large-up-3  grid-margin-y">                                       
    					<div class="animation cell grid-x" ng-repeat="person in people" style="padding-left: 0">
    						<div class="small-8 cell">
                                <h2 class="smaller">{[{person.fname}]} {[{person.lname}]}</h2>
        						<div class="smaller caption small-12 medium-12 large-6" style="float: left">
        							<div ng-hide="!person.title"><strong>Title:</strong> {[{person.title}]}</div>
                                    <div ng-hide="!person.department"><strong>Department:</strong> {[{person.department}]}</div>
        							<div ng-hide="!person.building"><strong>Location:</strong> {[{person.building}]} {[{person.room}]}</div>
        							<div ng-hide="!person.phone"><a href="tel:{{person.phone}}">{[{person.phone}]}</a></div>
                                    <div ng-hide="!person.deptphone"><a href="tel:{{person.deptphone}}">{[{person.deptphone}]} (dept)</a></div>
        							<div ng-hide="!person.email"><a href="mailto:{{person.email}}">{[{person.email}]}</a></div>
        				        </div>
                            </div>                            
        					<div class="small-4 cell">
        						<div class="small-8 small-centered">
        							<img src="//apps.wtamu.edu{[{person.imgUrl}]}" alt="professor {[{person.fname}]} {[{person.lname}]}"/>
        						</div>
        					</div>
                        </div>
                    </div>			    		
		  		</div>		  		
		  
		  		<div class="tabs-panel" id="experts" ng-controller="expertSearch">
		    		<select name="repeatSelect" id="repeatSelect" ng-model="search.expertgroup.expertise" title="Type of Expert>
                        <option value="" selected>Select Expertise</option>
                        <option ng-repeat="option in data" value="{[{option.expertise}]}">{[{option.expertise}]}</option>
                    </select>        
                    
                    <div class="grid-x medium-up-2 large-up-3 grid-margin-x grid-margin-y">      

    					<div class="animation cell grid-x" ng-repeat="person in people | filter:search track by $index">
    						<div class="small-8 cell">
                                <h2 class="smaller">{[{person.fname}]} {[{person.lname}]}, {[{person.designation}]} </h2>
        						<div class="caption small-12 medium-12 large-6" style="float: left">
        						    <div><strong>Title:</strong><span ng-repeat="position in person.posgroup"> {[{position.title}]}<br /></span></div>
        							<div><strong>Location:</strong> {[{person.building}]} {[{person.room}]}</div>
        							<p class="hide">{[{person.expertise}]}</p>
        							<a href="tel:{{person.phone}}">{[{person.phone}]}</a><br />
        							<a href="mailto:{{person.email}}">{[{person.email}]}</a><br />
                                    <div ng-click="change_expertise(expertise.expertise)" ng-repeat="expertise in person.expertgroup" style="margin-right: 2px; margin-bottom: 2px" class="button primary small">{[{expertise.expertise}]}</div>
        				        </div>
                            </div>              
                    
                            <div class="small-4 cell">
                                <div class="small-8 small-centered">
                                	<img src="//cascadetest.wtamu.edu/test/directory/{[{person.image}]}" alt="professor {[{person.fname}]} {[{person.lname}]}" />
                                </div>
                            </div>
                            <div class="text-right" ng-hide="true">
                                <a href="#" class="button small-12 large-6">View Biography</a>
                            </div>
                        </div>

                    </div>                     
		  		</div>		  	
		  	</div>
    	</div>
  	</div>
  	
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js"></script>
<script src="{{root}}assets/x2js-master/xml2json.min.js"></script>
<script type="text/javascript">	

    $(document).ready(function () { 
        var q = wf.getParameterByName('q');
        
        if(window.location.href.indexOf("#google") != -1){            
            $('#search_text_box').val(q);

            // <![CDATA[                                                        
            var imgAltTagsFix = function() {
                
                setTimeout(function(){
                    $.each(
                        $('#___gcse_0').find('img'), function(index, value) {                        
                            $(value).attr('alt','transparent background image');  
                        }
                    ); 

                    $.each(
                        $('#___gcse_0').find('table'), function(index, value) {                        
                            $(value).removeAttr('cellspacing');  
                            $(value).removeAttr('cellpadding'); 
                        }
                    ); 

                    $.each(
                        $('#___gcse_0').find('iframe'), function(index, value) {                        
                            $(value).removeAttr('marginwidth');  
                            $(value).removeAttr('marginheight'); 
                        }
                    ); 

                    $.each(
                        $('#___gcse_0').find('b'), function(index, value) {                        
                            $(value).replaceWith(function() {
                                return $('<strong>').append($(value).html())
                            }) 
                        }
                    ); 
                }, 1000);
            };
            window.__gcse = {
                callback: imgAltTagsFix
            };
            (function() {
                var cx = '017207163629162198634:3oziw4igxw8';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
            // ]]>
        }
        if(window.location.href.indexOf("#directory") != -1){                
            $('#Search_Directory').val(q);
        }
        if(window.location.href.indexOf("#experts") != -1){                 
            $('#repeatSelect').val(q);
        }        
    });

    //start Angular            

    var App = angular.module('WtDirectory', ['ngAnimate']).config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    App.controller('expertSearch', function($scope, $http) {
        $http.get('{{root}}assets/experts.js')
        .then(function(res) {
            $scope.people = res.data;         
            (window.angular);        
        });

        $http.get('{{root}}assets/expertise.js')
        .then(function(res) {
            $scope.data = res.data;            
            (window.angular);        
        });

        $scope.change_expertise=function(expertisepassedfrombutton){
            $scope.search = expertisepassedfrombutton;
            $('#repeatSelect').hide();
        }
        
    });

    App.controller('directorySearch', function($scope, $http) {

        $scope.people = [];
        $scope.list = [];
        $scope.text = 'hello';
        $scope.type = 'staff';

        $(document).ready(function () { 
            if(window.location.href.indexOf("#directory") != -1){                
                $scope.search = $('#Search_Directory').val();
            }
        });

        $scope.submit = function() {
            
            if($scope.type == "staff") {                  
                var data = $.param({
                    search: $scope.search,
                    stype: 'fs',
                    xml_output: 1
                });
            }
                
            if($scope.type == "student") {                  
                var data = $.param({
                    search: $scope.search,
                    stype: 'stu',
                    xml_output: 1
                });                
            }
            
            var config = {
                headers : {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            };
            
            $http.post('//apps.wtamu.edu/dir/', data, config)
            .success(function(data, headers, config){
                var x2js = new X2JS();
                var json = x2js.xml_str2json( data );
                $scope.people = json.directory.results.result;
            });
        };                
    });
            
</script>