{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>West Texas A&amp;M University</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/css/swiper.min.css">
    <script src="{{root}}assets/js/app.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.5.2/lazyload.min.js"></script>-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/js/swiper.min.js"></script>-->    
  </head>
  <body>
    <div id="skip" role="navigation" aria-label="Skip to Main Content"><a href="#maincontent">Skip to Main Content</a></div>   
    <div class="callout alert warning-system" style="display: none; margin-bottom: 0">
      <h2><span class="fa fa-exclamation"> Please Review The Following Errors</span></h2>
      <ul></ul>
      <p>It is possible that these errors may be false positives!</p>
      <p>This message does not display when published</p>      
    </div>
    <div data-sticky-container>
      <div class="off-canvas position-left secondary" id="offCanvasLeft" data-off-canvas role="navigation" aria-label="mobile navigation">
        <ul class="mobile-ofc vertical menu">
          <li>
              <label class="wtamu">WTAMU</label>
          </li>
          {{> mainnavleft}}
          {{> mainnavright}}        
          <li>
            <a href="{{root}}a-z.html"><span class="fa fa-sitemap"><span class="hide">Site Map</span></span> A-Z</a>   
          </li>
          <li>
            <a href="//bufftransit.wtamu.edu/" target="_blank">
              <span class="fa fa-bus" aria-hidden="true"><span class="hide">Buff Transit</span></span> Buff Transit
            </a>
          </li>
          <li>
            <a href="//map.wtamu.edu/map/?id=458#!ct/4072,18322?ce/4072" target="_blank">
              <span class="fa fa-map"><span class="hide">Campus Map</span></span> Campus Map
            </a>
          </li>
          <li>
              <label>Audience</label>
          </li>  
          {{> subnav}}       
        </ul>
      </div>
      
      <div class="off-canvas-content" data-off-canvas-content>        
        {{> nav}}         
        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        <div id="maincontent" role="main">
          {{> body}}
        </div>

        {{> footer}} 
      </div>
    </div>
  </body>
</html>